{% extends 'layout.html' %}
{% block content %}
<div class="col-lg-6 info_box_col">
					<div class="info_form_container">
						
						<div class="col"></div>
							<div class="col col-align-center">
								<form action="" method="POST" style="font-size:larger;">
									{{ form.hidden_tag() }}
									<fieldset class="form-group">
										<legend  class="section_title" style="font-size:X-large;">Add Patient</legend>
										<br>
										<div class="form-group"align="left">
						
					{{ form.ssn.label(class="form-control-label") }}
					{% if form.ssn.errors %}
						{{ form.ssn(class="form-control is-invalid") }}
						<div class="alert alert-danger">
							{% for error in form.ssn.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.ssn(class="form-control") }}
					{% endif %}
				</div>
				<div class="form-group"align="left">
					{{ form.patient_id.label(class="form-control-label") }}
					{% if form.patient_id.errors %}
						{{ form.patient_id(class="form-control is-invalid") }}
						<div class="alert alert-danger">
							{% for error in form.patient_id.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.patient_id(class="form-control") }}
					{% endif %}
				</div>
				<div class="form-group"align="left">
					{{ form.patient_name.label(class="form-control-label") }}
					{% if form.patient_name.errors %}
						{{ form.patient_name(class="form-control is-invalid") }}
						<div class="alert alert-danger">
							{% for error in form.patient_name.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.patient_name(class="form-control") }}
					{% endif %}
				</div>
				<div class="form-group" align="left">
					{{ form.patient_address.label(class="form-control-label") }}
					{% if form.patient_address.errors %}
						{{ form.patient_address(class="form-control is-invalid") }}
						<div class="alert alert-danger">
							{% for error in form.patient_address.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.patient_address(class="form-control") }}
					{% endif %}
				</div>
				<div class="form-group"align="left">
					{{ form.patient_age.label(class="form-control-label") }}
					{% if form.patient_age.errors %}
						{{ form.patient_age(class="form-control is-invalid") }}
						<div class="alert alert-danger">
							{% for error in form.patient_age.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.patient_age(class="form-control") }}
					{% endif %}
				</div>
				<div class="form-group"align="left">
					{{ form.patient_room_type.label(class="form-control-label") }}
					{% if form.patient_room_type.errors %}
						{{ form.patient_room_type(class="form-control is-invalid") }}
						<div class="alert alert-danger">
							{% for error in form.patient_room_type.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.patient_room_type(class="form-control") }}
					{% endif %}
				</div>
				<div class="form-group"align="left">
					{{ form.patient_state.label(class="form-control-label") }}
					{% if form.patient_state.errors %}
						{{ form.patient_state(class="form-control is-invalid") }}
						<div class="alert alert-danger">
							{% for error in form.patient_state.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.patient_state(class="form-control") }}
					{% endif %}
				</div>
				<div class="form-group"align="left">
					{{ form.patient_city.label(class="form-control-label") }}
					{% if form.patient_city.errors %}
						{{ form.patient_city(class="form-control is-invalid") }}
						<div class="alert alert-danger">
							{% for error in form.patient_city.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.patient_city(class="form-control") }}
					{% endif %}
				</div>
										<br>
				<div class="form-group">
					{{ form.submit(class="btn btn-outline buttons") }}
				</div>
			</fieldset>
		</form>
	</div>
	<div class="col"></div>
</div>
</div>
{% endblock content %}