{% extends 'layout.html' %}
{% block content %}
<style>
	#customers {
		border-collapse: collapse;
		width: 550px;
	}

	#customers td,
	#customers th {
		border: 1px solid #ddd;
		padding: 8px;
	}

	#customers tr:nth-child(even) {
		background-color: #f2f2f2;
	}

	#customers tr:hover {
		background-color: #ddd;
	}

	#customers th {
		padding-top: 12px;
		padding-bottom: 12px;
		text-align: left;
		color: black;
		background-color: #32c69a;
</style>
<section>
	<div class="col-lg-6 info_box_col">
		<div class="row">
			<div class="col">
				<table id="customers">
					<tr>
						<th colspan="2">
							<center>
								<h1>Patient Details</h1>
							</center>
						</th>
					</tr>
					<tr>
						<td>Patient ID :</td>
						<td> {{ patient.patient_id }}</td>
					</tr>
					<tr>
						<td>Name :</td>
						<td> {{ patient.patient_name }}</td>
					</tr>
					<tr>
						<td>Age : </td>
						<td>{{ patient.patient_age }}</td>
					</tr>
					<tr>
						<td>Address :</td>
						<td>{{ patient.patient_address }}</td>
					</tr>
					<tr>
						<td>Date of joining :</td>
						<td>{{ patient.patient_DOJ }}</td>
					</tr>
					<tr>
						<td>Date of discharge :</td>
						<td> {% if patient.patient_DOD.strftime("%Y-%B-%d") == "3000-January-01" %}
							Not Discharged Yet
							{% else %}
							{{ patient.patient_DOD }}
							{% endif %}</td>
					</tr>
					<tr>
						<td>Room Type : </td>
						<td>{{ patient.patient_room_type }}</td>
					</tr>
					<tr>
						<td>State : </td>
						<td>{{ patient.patient_state }}</td>
					</tr>
					<tr>
						<td>City : </td>
						<td>{{ patient.patient_city }}</td>
					</tr>
					<tr>
						<td>Status : </td>
						<td>{{ patient.patient_status }}</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<br>
</section>
<hr>
<section>
	<h1>Diagnostics Conducted</h1>
	<br>
	<div class="row-center">
		<table class="table" style="width:550px;">
			<tr class="table-primary">
				<th style="background-color: #32c69a;">Diagnostics Name</th>
				<th style="background-color: #32c69a;">Amount</th>
			</tr >
			{% for diagnostics in patient.diagnostics %}
			<tr style="border-top: 2px solid #32c69a">
				<td>{{ diagnostics.diagnostics_name }}</td>
				<td>{{ diagnostics.diagnostics_amount }}</td>
			</tr>
			{% endfor %}
			<tr style="border-top: 2px solid #32c69a">
				<th>Total Amount</th>
				<th>{{ diag_total_amount }}</th>
			</tr>
		</table>
	</div>
	<br>
</section>
<hr>
<section>

		<div class="col-lg-5 info_box_col">
					<div class="info_form_container">
		<div class="col"></div>
		<div class="col col-align-center">
			<form action="" method="POST" style="font-size:larger;">
				{{ form.hidden_tag() }}
				<fieldset class="form-group">
					<legend class="section_title" style="font-size:X-large;">Add Diagnostics</legend>
					<br>
					<div class="form-group" align="left">
						{{ form.diagnostics_id.label(class="form-control-label") }}
						{% if form.diagnostics_id.errors %}
							{{ form.diagnostics_id(class="form-control is-invalid") }}
							<div class="alert alert-danger">
								{% for error in form.diagnostics_id.errors %}
									<span>{{ error }}</span>
								{% endfor %}
							</div>
						{% else %}
							{{ form.diagnostics_id(class="form-control") }}
						{% endif %}
					</div>
					<div class="form-group" align="left">
						{{ form.diagnostics_name.label(class="form-control-label") }}
						{% if form.diagnostics_name.errors %}
							{{ form.diagnostics_name(class="form-control is-invalid") }}
							<div class="alert alert-danger">
								{% for error in form.diagnostics_name.errors %}
									<span>{{ error }}</span>
								{% endfor %}
							</div>
						{% else %}
							{{ form.diagnostics_name(class="form-control") }}
						{% endif %}
					</div>
					<div class="form-group" align="left">
						{{ form.diagnostics_amount.label(class="form-control-label") }}
						{% if form.diagnostics_amount.errors %}
							{{ form.diagnostics_amount(class="form-control is-invalid") }}
							<div class="alert alert-danger">
								{% for error in form.diagnostics_amount.errors %}
									<span>{{ error }}</span>
								{% endfor %}
							</div>
						{% else %}
							{{ form.diagnostics_amount(class="form-control") }}
						{% endif %} 
					</div>
					<br>
					<div class="form-group">
						{{ form.submit(class="btn btn-outline buttons") }}
						<a class="btn btn-warning" href="{{ url_for('show_patient_details', patient_id=patient.patient_id) }}">Go Back</a>
					</div>
				</fieldset>
			</form>
		</div>
		<div class="col"></div>
	</div>
</div>
</section>
{% endblock content %}