{% extends 'layout.html' %}
{% block content %}
<section>
	<h1>Patient Details</h1>
	<div class="row">
		<div class="col">
			Patient ID <br>
			Name <br>
			Age	<br>
			Address <br>
			Date of joining <br>
			Date of discharge <br>
			Room Type <br>
			State <br>
			City <br>
			Status <br>
		</div>
		<div class="col pr-auto">
			: {{ patient.patient_id }} <br>
			: {{ patient.patient_name }} <br>
			: {{ patient.patient_age }} <br>
			: {{ patient.patient_address }} <br>
			: {{ patient.patient_DOJ }} <br>
			{% if patient.patient_DOD.strftime("%Y-%B-%d") == "3000-January-01" %}
			: Not Discharged Yet <br>
			{% else %}
			: {{ patient.patient_DOD }} <br>
			{% endif %}
			: {{ patient.patient_room_type }} <br>
			: {{ patient.patient_state }} <br>
			: {{ patient.patient_city }} <br>
			: {{ patient.patient_status }} <br>
		</div>
	</div>
	<br>
</section>
<section>
	<h1>Medicines Issued</h1>
	<div class="row">
		<table class="table">
			<tr class="table-primary">
				<th>Medicine Name</th>
				<th>Quantity</th>
				<th>Rate</th>
				<th>Amount</th>
			</tr>
			{% for medicine in patient.medicines %}
			<tr>
				<td>{{ medicine.medicine_name }}</td>
				<td>{{ medicine.medicine_quantity }}</td>
				<td>{{ medicine.medicine_rate }}</td>
				<td>{{ medicine.medicine_amount }}</td>
			</tr>
			{% endfor %}
			<tr>
				<th></th>
				<th></th>
				<th>Total Amount</th>
				<th>{{ med_total_amount }}</th>
			</tr>
		</table>
	</div>
	<br>
</section>
<section>
	<h1>Diagnostics Conducted</h1>
	<div class="row">
		<table class="table">
			<tr class="table-primary">
				<th>Diagnostics Name</th>
				<th>Amount</th>
			</tr>
			{% for diagnostics in patient.diagnostics %}
			<tr>
				<td>{{ diagnostics.diagnostics_name }}</td>
				<td>{{ diagnostics.diagnostics_amount }}</td>
			</tr>
			{% endfor %}
			<tr>
				<th>Total Amount</th>
				<th>{{ diag_total_amount }}</th>
			</tr>
		</table>
	</div>
	<br>
</section>
<section>
	<h1>Billing Details : </h1> <br> <br>
	<div class="row">
		<div class="col">
			Total days of admission <br>
			Total Amount for room <br>
			Medicines Total Amount <br>
			Diagnostics Total Amount <br>
			<b>Grand Total</b> <br>
		</div>
		<div class="col">
			: {{ days }}<br>
			: {{ room_fees }}<br>
			: {{ med_total_amount }}<br>
			: {{ diag_total_amount }}<br>
			<b>: {{ grand_total }}</b><br>
		</div>
		<div class="col"></div>
	</div>
</section>
<br>
<a class="btn btn-primary" href="{{ url_for('search_patient') }}">Go To Search Patient</a>
<br>
<br>
{% endblock content %}