{% extends 'layout.html' %}
{% block content %}
<style>
	#customers {
   border-collapse: collapse;
   width: 550px;
 }

 #customers td, #customers th {
   border: 1px solid #ddd;
   padding: 8px;
 }

 #customers tr:nth-child(even){background-color: #f2f2f2;}

 #customers tr:hover {background-color: #ddd;}

 #customers th {
   padding-top: 12px;
   padding-bottom: 12px;
   text-align: left;
   color: black;
   background-color: #32c69a;

 </style>
<section>
	<div class="col-lg-6 info_box_col">
   <div class="row">
      <div class="col">
         <table id="customers">
           <tr>
              <th colspan="2"><center><h1>Patient Details</h1></center></th>
           </tr>
            <tr>
               <td>Patient ID :</td>
               <td> {{ patient.patient_id }}</td>
            </tr>
            <tr>
               <td>Name :</td>
               <td> {{ patient.patient_name }}</td>
            </tr>
            <tr>
               <td>Age    : </td>
               <td>{{ patient.patient_age }}</td>
            </tr>
            <tr>
               <td>Address :</td>
               <td>{{ patient.patient_address }}</td>
            </tr>
            <tr>
               <td>Date of joining :</td>
               <td>{{ patient.patient_DOJ }}</td>
            </tr>
            <tr>
               <td>Date of discharge :</td>
               <td> {% if patient.patient_DOD.strftime("%Y-%B-%d") == "3000-January-01" %}
         Not Discharged Yet
         {% else %}
         {{ patient.patient_DOD }}
         {% endif %}</td>
            </tr>
            <tr>
               <td>Room Type : </td>
               <td>{{ patient.patient_room_type }}</td>
            </tr>
            <tr>
               <td>State : </td>
               <td>{{ patient.patient_state }}</td>
            </tr>
            <tr>
               <td>City : </td>
               <td>{{ patient.patient_city }}</td>
            </tr>
            <tr>
               <td>Status :  </td>
               <td>{{ patient.patient_status }}</td>
            </tr>
         </table>
      </div>
   </div>
      </div>
	<br>
	<br>
	<form action="" method="POST">
		{{ form.hidden_tag() }}
		Are you sure you want to delete this patient?? <br>
		{{ form.confirm }}
		{{ form.confirm.label(class="form-control-label") }} <br>
		<br>
		<div class="row-center">
			<table>
			<tr>
				<td>{{ form.patient_id.label(class="col form-control-label") }}</td>
				<td>{{ form.patient_id(class="col form-control") }}</td>
			</tr>
			</table>
		</div>
		<br>
		{{ form.submit(class="btn btn-danger") }}
		<a class="btn btn-warning" style="margin-left:20px;" href="{{ url_for('show_patient_details', patient_id=patient.patient_id) }}">Go Back</a>
	</form>
</section>
{% endblock content %}