{% extends 'layout.html' %}
{% block content %}	
	<div class="col-lg-4 info_box_col">
					<div class="info_form_container"><div class="col"></div>
	<div class="col col-align-center">
		<form action="" method="POST" style="font-size:larger;">
			{{ form.hidden_tag() }}
			<fieldset class="form-group">
				<legend class="section_title" style="font-size:X-large;">Login Form</legend>
				<br>
				<div class="form-group" align="left">
					{{ form.username.label(class="form-control-label") }}
					{% if form.username.errors %}
						{{ form.username(class="form-control is-invalid") }}
						<div class="alert alert-danger">
							{% for error in form.username.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.username(class="form-control") }}
					{% endif %}
				</div>
				<div class="form-group" align="left">
					{{ form.password.label(class="form-control-label") }}
					{% if form.password.errors %}
						{{ form.password(class="form-control is-invalid") }}
						<div class="alert alert-danger">
							{% for error in form.password.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.password(class="form-control") }}
					{% endif %}
				</div>
				<br>
				<div class="form-group">
					{{ form.submit(class="btn btn-outline buttons") }}
				</div>
			</fieldset>
		</form>
	</div>
	<div class="col"></div>
</div>
</div>
{% endblock content %}