{% extends 'layout.html' %}
{% block content %}
<section>
	<h1>Patient Details</h1>
	<div class="row">
		<div class="col">
			Patient ID <br>
			Name <br>
			Age	<br>
			Address <br>
			Date of joining <br>
			Date of discharge <br>
			Room Type <br>
			State <br>
			City <br>
			Status <br>
		</div>
		<div class="col pr-auto">
			: {{ patient.patient_id }} <br>
			: {{ patient.patient_name }} <br>
			: {{ patient.patient_age }} <br>
			: {{ patient.patient_address }} <br>
			: {{ patient.patient_DOJ }} <br>
			{% if patient.patient_DOD.strftime("%Y-%B-%d") == "3000-January-01" %}
			: Not Discharged Yet <br>
			{% else %}
			: {{ patient.patient_DOD }} <br>
			{% endif %}
			: {{ patient.patient_room_type }} <br>
			: {{ patient.patient_state }} <br>
			: {{ patient.patient_city }} <br>
			: {{ patient.patient_status }} <br>
		</div>
	</div>
	<br>
	{% if session.get('ROLE') == "adm_desk" %}
	<div>
		<a class="btn btn-success" href="{{ url_for('update_patient_details', patient_id=patient.patient_id) }}">Update Patient Details</a>
		<a class="btn btn-danger" href="{{ url_for('delete_patient', patient_id=patient.patient_id) }}">Delete Patient</a>
		<a class="btn btn-outline buttons" href="{{ url_for('generate_bill', patient_id=patient.patient_id) }}">Generate Bill</a>
	</div>
	<br>
	{% endif %}
</section>
{% if session.get('ROLE') == "adm_desk" or session.get('ROLE') == "pharm" %}
<section>
	<h1>Medicines Issued</h1>
	<div class="row">
		<table class="table">
			<tr class="table-primary" >
				<th style="background-color: #32c69a;">Medicine Name</th>
				<th style="background-color: #32c69a;">Quantity</th>
				<th style="background-color: #32c69a;">Rate</th>
				<th style="background-color: #32c69a;">Amount</th>
			</tr>
			{% for medicine in patient.medicines %}
			<tr style="border-top: 2px solid #32c69a">
				<td>{{ medicine.medicine_name }}</td>
				<td>{{ medicine.medicine_quantity }}</td>
				<td>{{ medicine.medicine_rate }}</td>
				<td>{{ medicine.medicine_amount }}</td>
			</tr>
			{% endfor %}
			<tr style="border-top: 2px solid #32c69a">
				<th></th>
				<th></th>
				<th>Total Amount</th>
				<th>{{ med_total_amount }}</th>
			</tr>
		</table>
	</div>
	<br>
	{% if session.get('ROLE') == "pharm" %}
		{% if patient.patient_status.lower() != "inactive" %}
			<div>
				<a class="btn btn-outline buttons" href="{{ url_for('issue_medicines', patient_id=patient.patient_id) }}">Issue New Medicines</a>
			</div>
			<br>
		{% endif %}
	{% endif %}
</section>
{% endif %}
{% if session.get('ROLE') == "adm_desk" or session.get('ROLE') == "diag" %}
<section>
	<h1>Diagnostics Conducted</h1>
	<div class="row">
		<table class="table">
			<tr class="table-primary" >
				<th style="background-color: #32c69a;">Diagnostics Name</th>
				<th style="background-color: #32c69a;">Amount</th>
			</tr>
			{% for diagnostics in patient.diagnostics %}
			<tr style="border-top: 2px solid #32c69a">
				<td>{{ diagnostics.diagnostics_name }}</td>
				<td>{{ diagnostics.diagnostics_amount }}</td>
			</tr>
			{% endfor %}
			<tr style="border-top: 2px solid #32c69a">
				<th>Total Amount</th>
				<th>{{ diag_total_amount }}</th>
			</tr>
		</table>
	</div>
	<br>
	{% if session.get('ROLE') == "diag" %}
		{% if patient.patient_status.lower() != "inactive" %}
			<div>
				<a class="btn btn btn-outline buttons" href="{{ url_for('add_diagnostics_test', patient_id=patient.patient_id) }}">Add New Diagnostics Tests</a>
			</div>
			<br>
		{% endif %}
	{% endif %}
</section>
{% endif %}
{% endblock content %}