{% extends 'layout.html' %}
{% block content %}
<style>
	#customers {
   border-collapse: collapse;
   width: 550px;
 }
 
 #customers td, #customers th {
   border: 1px solid #ddd;
   padding: 8px;
 }
 
 #customers tr:nth-child(even){background-color: #f2f2f2;}
 
 #customers tr:hover {background-color: #ddd;}
 
 #customers th {
   padding-top: 12px;
   padding-bottom: 12px;
   text-align: left;
   color: black;
   background-color: #32c69a;
 
 </style> 
 <section>
   <div class="col-lg-6 info_box_col">
   <div class="row">
      <div class="col">
         <table id="customers">
           <tr>
              <th colspan="2"><center><h1>Patient Details</h1></center></th>
           </tr>
            <tr>
               <td>Patient ID :</td>
               <td> {{ patient.patient_id }}</td>
            </tr>
            <tr>
               <td>Name :</td>
               <td> {{ patient.patient_name }}</td>
            </tr>
            <tr>
               <td>Age    : </td>
               <td>{{ patient.patient_age }}</td>
            </tr>
            <tr>
               <td>Address :</td>
               <td>{{ patient.patient_address }}</td>
            </tr>
            <tr>
               <td>Date of joining :</td>
               <td>{{ patient.patient_DOJ }}</td>
            </tr>
            <tr>
               <td>Date of discharge :</td>
               <td> {% if patient.patient_DOD.strftime("%Y-%B-%d") == "3000-January-01" %}
         Not Discharged Yet
         {% else %}
         {{ patient.patient_DOD }}
         {% endif %}</td>
            </tr>
            <tr>
               <td>Room Type : </td>
               <td>{{ patient.patient_room_type }}</td>
            </tr>
            <tr>
               <td>State : </td>
               <td>{{ patient.patient_state }}</td>
            </tr>
            <tr>
               <td>City : </td>
               <td>{{ patient.patient_city }}</td>
            </tr>
            <tr>
               <td>Status :  </td>
               <td>{{ patient.patient_status }}</td>
            </tr>
         </table>
      </div>
   </div>
      </div>
   <br>
   <br>
   {% if session.get('ROLE') == "adm_desk" %}
   <div class="row-center">
      <a class="btn btn-primary" href="{{ url_for('update_patient_details', patient_id=patient.patient_id) }}">Update Patient Details</a>
      <a class="btn btn-danger" href="{{ url_for('delete_patient', patient_id=patient.patient_id) }}">Delete Patient</a>
      <a class="btn btn-secondary buttons" href="{{ url_for('generate_bill', patient_id=patient.patient_id) }}">Generate Bill</a>
   </div>
   <br>
   {% endif %}
</section>
{% if session.get('ROLE') == "adm_desk" or session.get('ROLE') == "pharm" %}
<hr>
<section>
	<h1>Medicines Issued</h1>
	<div class="row-center">
		<table class="table" style="width:550px;">
			<tr class="table-primary" >
				<th style="background-color: #32c69a;">Medicine Name</th>
				<th style="background-color: #32c69a;">Quantity</th>
				<th style="background-color: #32c69a;">Rate</th>
				<th style="background-color: #32c69a;">Amount</th>
			</tr>
			{% for medicine in patient.medicines %}
			<tr style="border-top: 2px solid #32c69a">
				<td>{{ medicine.medicine_name }}</td>
				<td>{{ medicine.medicine_quantity }}</td>
				<td>{{ medicine.medicine_rate }}</td>
				<td>{{ medicine.medicine_amount }}</td>
			</tr>
			{% endfor %}
			<tr style="border-top: 2px solid #32c69a">
                <th></th>
				<th colspan="2">Total Amount</th>
				<th>{{ med_total_amount }}</th>
			</tr>
		</table>
	</div>
	<br>
	{% if session.get('ROLE') == "pharm" %}
		{% if patient.patient_status.lower() != "inactive" %}
			<div>
				<a class="btn btn-outline buttons" href="{{ url_for('issue_medicines', patient_id=patient.patient_id) }}">Issue New Medicines</a>
			</div>
			<br>
		{% endif %}
	{% endif %}
</section>
{% endif %}
{% if session.get('ROLE') == "adm_desk" or session.get('ROLE') == "diag" %}
<hr>
<section>
	<h1>Diagnostics Conducted</h1>
    <br>
	<div class="row-center">
		<table class="table" style="width:550px;">
			<tr class="table-primary" >
				<th style="background-color: #32c69a;">Diagnostics Name</th>
				<th style="background-color: #32c69a;">Amount</th>
			</tr>
			{% for diagnostics in patient.diagnostics %}
			<tr style="border-top: 2px solid #32c69a">
				<td>{{ diagnostics.diagnostics_name }}</td>
				<td>{{ diagnostics.diagnostics_amount }}</td>
			</tr>
			{% endfor %}
			<tr style="border-top: 2px solid #32c69a">
				<th>Total Amount</th>
				<th>{{ diag_total_amount }}</th>
			</tr>
		</table>
	</div>
	<br>
	{% if session.get('ROLE') == "diag" %}
		{% if patient.patient_status.lower() != "inactive" %}
			<div>
				<a class="btn btn btn-outline buttons" href="{{ url_for('add_diagnostics_test', patient_id=patient.patient_id) }}">Add New Diagnostics Tests</a>
			</div>
			<br>
		{% endif %}
	{% endif %}
</section>
{% endif %}
{% endblock content %}