{% extends 'layout.html' %}
{% block content %}
<h1>Total Active Patients in the Hospital - {{ patients.total }}</h1>
<br>
<style>
	#customers {
   border-collapse: collapse;
   width: 1100px;
 }

 #customers td, #customers th {
   border: 1px solid #ddd;
   padding: 8px;
 }

 #customers tr:nth-child(even){background-color: #f2f2f2;}

 #customers tr:hover {background-color: #ddd;}

 #customers th {
   padding-top: 12px;
   padding-bottom: 12px;
   text-align: left;
   color: black;
   background-color: #32c69a;

 </style>

<table class="table" id="customers">
	<tr style="background-color: #32c69a;">
		<th>Patient ID</th>
		<th>Name</th>
		<th>Age</th>
		<th>Address</th>
		<th>Room Type</th>
		<th>Status</th>
		<th>Operations</th>
	</tr>
	{% for patient in patients.items %}
	<tr style="border-top: 2px solid #32c69a">
		<td>{{ patient.patient_id }}</td>
		<td>{{ patient.patient_name }}</td>
		<td>{{ patient.patient_age }}</td>
		<td>{{ patient.patient_address }}</td>
		<td>{{ patient.patient_room_type }}</td>
		<td>{{ patient.patient_status }}</td>
		<td><a class="btn btn-outline buttons" href="{{ url_for('show_patient_details', patient_id=patient.patient_id) }}">Show Details</a></td>
	</tr>
	{% endfor %}
</table>
<nav aria-label="Page navigation">
	<div class="row">
		<ul class="pagination">
		{% for page_num in patients.iter_pages(left_edge=2, right_edge=2, left_current=1, right_current=2) %}
			{% if page_num %}
				<li class="page-item"><a class="page-link"href="{{ url_for('view_active_patients', page=page_num)}}">{{page_num}}</a></li>	
			{% else %}
			...		
			{% endif %}
		{% endfor %}
		</ul>
		<ul>
			<a href="{{ url_for('view_active_patients') }}" class="btn btn-danger">Refresh Page</a>
		</ul>
	</div>
</nav>

{% endblock content %}